@using SP2CJ.Services
@page "/BacaBoi"
<h3>Renungan Hari ini</h3>

<div class="container block is-half">
    @foreach(var renung in renungans){
        <div class="block container m-auto">
            <div class="block">
                <h4 >@renung.Judul</h4>
                <p >Ditulis oleh: @renung.penulis</p>
            </div>
            <div class="block">

                <p >@renung.Isi</p>
            </div>
        </div>
    }
</div>



@code {
    List<Renungan> renungans = new List<Renungan>();
    CrudMongo cm = new CrudMongo();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        renungans = cm.BacaBoiHariIni();
    }

}
