@using SP2CJ.Services
@page "/BikinRenungan"
<h3>BikinRenungan</h3>

<div class="block container columns">
    <div class="block is-half column is-pulled-left is-vcentered">
        <EditForm Model="@newRenungan" OnValidSubmit="@HandleInput">
            <div class="control block">
                <label class=" is-justify-content-space-between">
                    Penulis:
                </label>
                <input class="input" @bind="newRenungan.penulis" />
            </div>
            <div class="control block">
                <label class=" is-justify-content-space-between">
                    Judul:
                </label>
                <input class="input" @bind="newRenungan.Judul" />
            </div>
            <div class="control block">
                <label class=" is-justify-content-space-between">
                    Isi:
                </label>
                <input  Class="textarea" @bind="newRenungan.Isi" />
            </div>
            <div class="control block">
                <label class=" is-justify-content-space-between">
                    Tanggal:
                </label>
                <DatePicker class="is-quarter" Date="@newRenungan.Tanggal" >
                </DatePicker>
            </div>
            <button class="is-pulled-right button">simpan</button>
        </EditForm>
    </div>
</div>


@code {
    Renungan newRenungan = new Renungan();
    CrudMongo cm = new CrudMongo();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        newRenungan.Tanggal = DateTime.Now;
    }

    private void HandleInput()
    {
        cm.InputRenungan(newRenungan);
        newRenungan = new Renungan();
    }
}
