@page "/"

<PageTitle>Index</PageTitle>

<div class="container block" >
    <h1>Masih dalam Pembuatan</h1>

    <h4>Fitur yang bisa digunakan: Jadwal dan Renungan</h4>
    <h4>Fitur yang sedang dalam pengerjaan</h4>
    <ul>
        <li>Input ketidak tersediaan (untuk pelayan yang sudah tau tidak bisa melayani di hari tertentu)</li>
        <li>Tolak pelayanan, sistem akan mencari pengganti yang tersedia</li>
        <li>Login, Register, dan security lainnya</li>
        <li>Sistem Notifikasi jika dapat jadwal</li>
    </ul>

    
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Untuk Programmer
            </p>
            <button class="card-header-icon" aria-label="more options" @onclick="toggleProg">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content" hidden="@hideCardProg">
            <div class="content" >
                Situs ini dibangun dengan Blazor Server (C#), Bulma CSS, dan MongoDB (saat ini di host di Atlas). Server Backend yang bersifat API ditulis dengan .NET F#, namun saat di deploy ke Heroku kebakaran. Jadi, kalo ada yang ngerti tolong bantu awkwk.
            </div>
        </div>
        
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Known Bugs
            </p>
            <button class="card-header-icon" aria-label="more options" @onclick="toggleBugs">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content" hidden="@hideCardBugs">
            <div class="content" >
                <ul>
                    <li>
                        Filter Pelayan masih belum jalan
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
@code{
    bool hideCardProg = true;
    bool hideCardBugs = true;
    void toggleProg()
    {
        hideCardProg = !hideCardProg;
    }
    void toggleBugs()
    {
        hideCardBugs = !hideCardBugs;
    }
}