@using Twilio.Rest.Api.V2010.Account.Usage.Record
<div class="top-row is-vcentered columns is-mobile">
    <div class="column container" ><a class="title" style="color: aquamarine" href="" ><h2>SP2CJ</h2></a></div>
    <div class="column is-pulled-right m-auto is-clickable is-clipped">
        <i class="fas fa-bars " @onclick="ToggleNavMenu" hidden="@(!collapseNavMenu)" style="color: aquamarine"></i>
    </div>
    
        

</div>


<div class="" id="Menu" hidden="@(!collapseNavMenu)" @ref="Menu" >
    <nav class="menu" >
        <div class="nav-item  menu-label">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item menu-label">
            <NavLink class="nav-link  px-3" href="insertJemaat">
                <span class="oi" aria-hidden="true" ><i class="fa-solid fa-person-circle-plus"></i> </span> Tambah Jemaat
            </NavLink>
        </div>
        <div class="nav-item menu-label">
            <NavLink class="nav-link  px-3" href="editJemaat">
                <span class="oi " aria-hidden="true"><i class="fa-solid fa-people-group"></i> </span> Edit/Lihat Jemaat
            </NavLink>
        </div>
        <div class= "nav-item  menu-label">
            <NavLink class="nav-link px-3" href="/BuatJadwal">
                <span class="oi" aria-hidden="true"> <i class="fa-solid fa-calendar"></i></span> Buat Jadwal
            </NavLink>
        </div>
        <div class="nav-item menu-label">
            <NavLink class="nav-link  px-3" href="LihatJadwal">
                <span class="oi" aria-hidden="true"> <i class="fa-solid fa-calendar"></i></span> Lihat Jadwal
            </NavLink>
        </div>
        <div class="nav-item  menu-label">
            <NavLink class="nav-link px-3" href="InsertRole">
                <span class="oi" aria-hidden="true"><i class="fa-solid fa-building-user"></i></span> Buat Peranan Pelayan
            </NavLink>
        </div>
        <div class="nav-item  menu-label">
            <NavLink class="nav-link px-3" href="JenisPelayanan">
                <span class="oi" aria-hidden="true"><i class="fa-solid fa-building"></i></span> Buat Jenis Pelayan
            </NavLink>
        </div>
        <div class="nav-item  menu-label">
            <NavLink class="nav-link px-3" href="BikinRenungan">
                <span class="oi" aria-hidden="true"><i class="fa-solid fa-pencil"></i></span> Tulis Renungan
            </NavLink>
        </div>
        <div class="nav-item  menu-label">
            <NavLink class="nav-link px-3" href="BacaBoi">
                <span class="oi" aria-hidden="true"><i class="fa-brands fa-readme"></i></span> Baca Renungan
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    ElementReference Menu;
    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
       
    }
}
